menu "OP Barcode Station Config"
    menu "Power conf"
        config DEEP_SLEEP_DURATION
            int "Deep Sleep Duration (seconds)"
            default 300
            range 1 86400
    endmenu
endmenu
